{% extends 'model_view/base.html' %}

{% block title %}
{{ admin_view.admin.name }} - {{ admin_view.name }}
{% endblock %}

{% block nav_bar %}
<ul class="nav nav-tabs" id="navTab" role="tablist">
    {% for view in admin_view.admin._views if view.name not in ['Home'] %}
    {% if view.is_accessible() %}
    <li class="nav-item">
        {%- if view.name == admin_view.name -%}
        <a href="{{ view.url }}" class="nav-link active">{{ view.name }}</a>
        {% else %}
        <a href="{{ view.url }}" class="nav-link">{{ view.name }}</a>
        {%- endif -%}
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}
