{% extends 'base.html' %}

{% block title %}
Мессенджер
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/lib/socket_io.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/chat_page_utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/chat_page.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat_style.css')}}">
{% endblock %}

{% block main %}

<!-- Flash error messages -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <p class=formError>{{ messages[0] }}</p>
    {% endif %}
{% endwith %}

<div class="container d-flex flex-row mt-2">
    <nav class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white me-5" style="width: 380px">
        <div id="sidebar" class="list-group list-group-flush border-bottom overflow-auto chat">

            <div class="search-container">
                <input type="text" id="user-search" class="form-control" placeholder="Поиск" aria-label="Search" autocomplete="off">
                <div class="suggestions scrollarea overflow-auto">
                    <ul class="list-group list-group-flush"></ul>
                </div>
            </div>

            <div id="rooms">
                {% for room in rooms %}
                <div id="{{ room.id }}" class="select-room list-group-item list-group-item-action py-3 lh-sm" role="button">
                    <div class="d-flex w-100 align-items-center justify-content-between">
                        <strong class="recipient_name mb-1">{{ room.get_name()|title }}</strong>
                        <small>timestamp</small>
                    </div>
                    <div class="col-10 mb-1 small">Message text here.</div>
                </div>
                {% endfor %}
            </div>


<!--            <a href="#" class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small>Wed</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small class="text-muted">Tues</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small class="text-muted">Mon</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->

<!--            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small class="text-muted">Wed</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small class="text-muted">Tues</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small class="text-muted">Mon</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small class="text-muted">Wed</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small class="text-muted">Tues</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small class="text-muted">Mon</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small class="text-muted">Wed</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small class="text-muted">Tues</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->
<!--            <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">-->
<!--                <div class="d-flex w-100 align-items-center justify-content-between">-->
<!--                    <strong class="mb-1">List group item heading</strong>-->
<!--                    <small class="text-muted">Mon</small>-->
<!--                </div>-->
<!--                <div class="col-10 mb-1 small">Some placeholder content in a paragraph below the heading and date.</div>-->
<!--            </a>-->
        </div>
    </nav>

    <div class="d-flex flex-column w-100 mw-100">
        <div id="display-message-section" class="overflow-auto chat"></div>

        <div id="input-area" class="input-group mt-auto">
        <input type="text" id="user_message" class="form-control" placeholder="Напишите сообщение..." aria-label="Type a message" autocomplete="off" aria-multiline="true">
        <span class="input-group-append">
            <button id="send_message" class="btn btn-warning" type="button">SEND</button>
        </span>
        </div>
    </div>
</div>

{% endblock %}